@page "/"

<h1>Выполнение тестового задания для СПИДБОКС</h1>

Заметка от автора: Тестовые данные из документации неактуальны, подбирал для успешного теста самостоятельно.
<br/>
Рабочая вкладка <a href="/calculator">"Калькулятор СДЭК"</a>, остальное для вида. При переходе на вкладку "Калькулятор", данные для успешного теста уже заданы, если хотите проверить свои данные, можно просто заменить или нажать на кнопку "Отмена", что приведет к удалению данных из полей.
<br/>
Основной код программы находится в компоненте "Calculator"
<br/>
<h3>Приятного просмотра и хороших выходных!</h3>
